<% console.log(collection.models); %>
<% username = $('#app-content-content').data('username'); %>
<% if(collection.models.length > 0) { %>
    <ul>
    <% collection.each(function(item) { console.log(item); %>
        <li><a href='<%= username %>/projects/<%= item.attributes._id %>' target='_blank'><%= item.attributes._id %></a></li>
    <% }); %>
    </ul>
<% } else { %>
    <h3>No documents! <a href='#new'>Create one</a></h3>
<% } %>