/*
 * #93d050 green
 */

.k-shadow { box-shadow:0 2px 8px rgba(0, 0, 0, 0.3); }
.k-shadow-big { box-shadow:0 2px 16px rgba(0, 0, 0, 0.5); }

.k-corner-all { border-radius:6px; }
.k-corner-right { border-radius:0 6px 6px 0; }

.error { border-color:#ee5f5b;color:#b94a48; }

.floatleft {float: left;}
.bold {font-weight: bold;}

.smalltext{font-size: 10px;}

.cursor-pointer{cursor: pointer;}

#modal-backdrop {display: none; position: absolute; top: 0px; left: 0px; z-index: 25; background-color: gray; opacity: .5; height: 100%; width: 100%;}

#kitify-navbar-logo {margin-right: 6px;}

@font-face {
    font-family: 'LobsterRegular';
    src: url('fonts/Lobster_1.3-webfont.eot');
    src: url('fonts/Lobster_1.3-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Lobster_1.3-webfont.woff') format('woff'),
         url('fonts/Lobster_1.3-webfont.ttf') format('truetype'),
         url('fonts/Lobster_1.3-webfont.svg#Lobster13Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, .basefont { font-size:14px; }

.k-scriptfont { font-family:'LobsterRegular',Trebuchet MS,Arial,Sans-serif; }