/* Messages */
.k-message {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  width: 640px;
  margin: 0 auto;
  z-index: 2; }

.k-message .alert-message {
  margin-bottom: 0;
  border-radius: 0;
  z-index: 9999; }

/* Bootstrap Overrides */
#kitify-navbar-logo {
  margin-top: 3px; }

html {
  height: 100%;
  background: #777777 url(../images/graphy.png); }

body {
  background-color: transparent; }

#header .container {
  position: relative; }

#content {
  margin-top: 60px;
  background-color: #eaeaea; }

#content-inner {
  padding: 2em; }
