  <div class="" style="overflow: hidden; width: 92%; margin-left: 4%; margin-top: 50px;">
    <div class="" style=" border: 1px solid #AAE;
background-color: whitesmoke; margin-bottom: -20px; border-radius: 8px; font-size: 12px;">
      <div class="container" style="width: auto;">
        <div class="nav-collapse">
          <ul class="nav nav-pills">
          	<li>
			<form class="form-inline" style="margin: 0px 0px 0px 20px; padding: 8px;" action="http://kitify.us4.list-manage.com/subscribe/post?u=9067f2165d4b30177f25683eb&amp;id=338266f443" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">		
			
			<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Sign up for Kitify updates!" style="width: 200px;"></input>
			<button type="submit" class="cursor-pointer btn-small btn"><i class="icon-chevron-right"></i>
  			</button>

			</form>
          	</li>
            <li style="margin-left: 160px; margin-top: 6px;"><a href="/about">Frequently Asked Questions</a></li>
<!--             <li style="margin-top: 6px;"><a href="/tandc">Terms and Conditions</a></li>
 -->            <li style="margin-top: 6px;"><a href="/contact">Contact Us</a></li>
            <li style="margin-top: 6px;"><a href="/consulting">Consulting</a></li>
            <li style="margin-top: 6px;"><a href="http://blog.kitify.com/">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>