<% content_for :css do %>
	<%= include_stylesheets :all, :browse, :media => "all" %>
<% end %>

<div id="container">
  <div id="content" class="container">
    <div id="content-inner" class="k-shadow-big">

<h2>Here's a random selection of our kits!</h2>
<div id="kit">
  <table id="kit-browse">
    <thead>
    <th class="k-kit-browse-col-image"></th>
    <th class="k-kit-browse-col-info"></th>
    </thead>
    <tbody></tbody>
  </table>
  
  <a href="javascript:void(0);" class="btn btn-large" style="" id="browse-btn">Show me some more!</a>
</div>
      
    </div>
  </div>
</div>

<% content_for :js do %>
	<%= include_javascripts :all, :browse %>
<script>
$(function() {
			Kitify.Manager({
				components: {
				kitBrowse: Kitify.KitBrowse()
				}
			}).init();
		});
</script>
<% end %>
