<% content_for :css do %>
	<%= include_stylesheets :all, :kit, :media => "all" %>
<% end %>

<div id="container">

  <div id="k-branding" style="margin-left: 32px; margin-top: 20px; margin-bottom: -40px; padding: 6px; border: 1px solid gray; width: 90px; background-color: whitesmoke;"><h3 style="font-color: #DDD;"><a href="/" target="_blank"><img style="margin-bottom: -7px; margin-left: 4px;" alt="Kitify" src="/images/logo-small.png"></img></a></h3></div>

  <div id="content" class="container">
    <div id="content-inner">

<%= render :partial => "publishedview", :locals => { :kit => @kit, :user => @user, :attachments => @attachments } %>

    </div>
  </div>
</div>

<% content_for :js do %>
	<%= include_javascripts :all, :kit %>
<script>
$(function() {
			Kitify.Manager({
				components: {
					kitNav: Kitify.KitNav(),
					newStep: Kitify.NewStep(),
					editStep: Kitify.EditStep(),
					kitSteps: Kitify.KitSteps(),
					reorderSteps: Kitify.KitReorderStep(),
					instructionsHost: Kitify.InstructionsHost(),
					newItem: Kitify.NewItem(),
					editItem: Kitify.EditItem(),
					kitItems: Kitify.KitItems(),
					kitParams: Kitify.KitParams(),
					kitPublish: Kitify.KitPublish(),
                    kitImage: Kitify.KitImage(),
                    kitCustomize: Kitify.KitCustomize(),
                    Util: Kitify.Util()
				}
			}).init();
		});
</script>
<% end %>