<% content_for :css do %>
  <%= include_stylesheets :all, :kit, :media => "all" %>
<% end %>

<div id="container">
  <div id="content" class="container">
    <div id="content-inner" class="k-shadow-big">





      
    </div>
  </div>
</div>

<% content_for :js do %>
  <%= include_javascripts :all, :kit %>
<script>
$(function() {
      Folio.Manager({
        components: {
                    folioAttach: Folio.FolioAttach(),
                    Util: Folio.Util()
        }
      }).init();
    });
</script>
<% end %>