- content_for :css do 
 = include_stylesheets :all
- content_for :js do 
 = include_javascripts :all

 #notice
 #app

  #app-header.well
   %h2= current_user

  #app-content.well
   #app-content-header
    %h2 Projects
    %button.btn.btn-primary Add Project
   #app-content-content

//why is the application getting all.jst?
//set this up as a project page