<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      This is a quick email to confirm your address change on Kitify. We're sending this to the new email address you specified, and have cc:ed your previous address.    </p>
    <p>If this was unexpected, please send us a note at help@kitify.com and we'll check it out. Thanks for using Kitify! - Kitify team</p>
  </body>
</html>