<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      You have successfully set up a kit on Kitify! This email includes the <i>edit address</i> for your kit, which you'll need if you want to make changes later.</p>
    <p>
      The edit address is: <a href="<%= @edit_url %>"><%= @edit_url %></a>.
    </p>
    <p>
      Don't give this address out to anyone. Check out the "share" tab on Kitify for the <i>share address</i> that others can use to view and buy this kit without being able to change it.
    </p>
    <p>Thanks for joining, and please feel free to send us a note at admin@kitify.com if you have any problems! - Kitify team</p>
  </body>
</html>