<% content_for :css do %>
	<%= include_stylesheets :all, :media => "all" %>
<% end %>

<div id="container">
  <div id="content" class="container">
    <div id="content-inner" class="k-shadow-big">

<h4>Frequently Asked Questions</h4>
<ul>
  <li><strong>If I want to sell a kit, how much time to I have to spend building the materials list?</strong> We're hoping not too much. We don't need you to hunt for the lowest price, best supplier, or anything like that - we ask for a web address for each part because web addresses typically give us enough information to figure out where to get the parts quickly and at the lowest cost.</li>
  <li><strong>What if a vendor runs out of stock, goes out of business, etc.?</strong> Kitify will find somewhere else to get the parts - we don't depend on a single vendor for anything if we can help it. If for some reason a part becomes totally unavailable, we'll let you know and take your kit down temporarily while we look for a solution.</li>
    <li><strong>Can you source items from eBay or other marketplaces?</strong> Not yet, but we're working on this.</li>
  <li><strong>How much will I make on each kit?</strong> Typically, Kitify will send you about 10% of the revenue from each sale. Once you've submitted your kit to us, we'll take a look and put a price on it, then send you an email confirming your listing and revenue share.</li>
  <li><strong>Will Kitify publish any kit?</strong> All kits on Kitify are subject to review before being published. We'll let you know if we can't publish your kit for some reason.</li>
    <li><strong>How will you pay me?</strong> Any way you want! Project creators have been paid using Venmo, Paypal, check or other methods. We'll contact you to make arrangements.</li>
  <li><strong>What's your return policy?</strong> Because Kitify's kits are sourced to order, and because we rely on the kit creator to tell us what parts are needed for each project, we can't accept returns. The only exception is if we send you parts that don't work or are otherwise different from what we said we would send; in that case, Kitify will replace the affected parts for you, provided you report the defect to us within 2 weeks of receiving your kit. After 2 weeks, all sales are final.</li>
  <li><strong>How quickly do you ship?</strong> Kitify will generally ship orders within 2 weeks and often more quickly. Your card won't be charged until your order is shipped.</li>
</ul>

<h4>Other questions or feedback?</h4>
<p>You can send us an email <a href="/contact">here</a>. We'd love to hear what you think! Or follow us on Twitter at <a href="http://twitter.com/getkitify">@getkitify</a>.</p>
    </div>
  </div>
</div>
