<% content_for :css do %>
	<%= include_stylesheets :all, :media => "all" %>
<% end %>

<div id="container" style="min-height: 520px;">
  <div id="content" class="container">
    <div id="content-inner" class="k-shadow-big">

<h4>Consulting</h4>
<p>Need advice about the best way to create a great user experience for builders of your project? We offer consulting services to help you based on our experience, including what we've learned from running Kitify. Send us an email <a href="/contact">here</a> if you're interested.</p>
    </div>
  </div>
</div>
